<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_query.css') }}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web server security scanner</title>
</head>
<body>
<h2>Web server security analyzation tool</h2>
<h6>Bachelor thesis project, made by Samuel Kopecký</h6>

<form action="" method=post>
    <div class="mb-3">
        <label for="Url" class="form-label">Url</label>
        <input class="form-control" id="Url" aria-describedby="urlHelp" name="url">
        <div id="urlHelp" class="form-text">Url of the web server you want to scan</div>
    </div>
    <div class="mb-3">
        <label for="Ports" class="form-label">Ports to scan</label>
        <input class="form-control" id="Ports" aria-describedby="portsHelp" name="ports">
        <div id="portsHelp" class="form-text">Default scan port is 443</div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="nmapScan" name="nmap_scan">
        <label class="form-check-label" for="nmapScan">Scan webserver software with nmap</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="nmapDiscover" name="nmap_discover">
        <label class="form-check-label" for="nmapDiscover">Discover ports with nmap</label>
    </div>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-1 pt-0">Tests</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="heartbleed" id="heartbleed">
                <label class="form-check-label" for="heartbleed">
                    Heartbleed
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="ccsinjection" id="ccsinjection">
                <label class="form-check-label" for="ccsinjection">
                    CCS injection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="insecrene" id="insecrene">
                <label class="form-check-label" for="insecrene">
                    Insecure renegotiation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="poodle" id="poodle">
                <label class="form-check-label" for="poodle">
                    ZombiePOODLE/GOLDENDOODLE
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="sessionticket" id="sessionticket">
                <label class="form-check-label" for="sessionticket">
                    Session ticket support
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="crime" id="crime">
                <label class="form-check-label" for="crime">
                    CRIME
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="rc4support" id="rc4support">
                <label class="form-check-label" for="rc4support">
                    RC4 support
                </label>
            </div>
        </div>
    </fieldset>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>
</html>